.sectionForm{
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

.sectionForm input[type=submit]{
	background-color: #e7e7e7; 
	color: black;
	border: none;
	padding: 0.8em 1.8em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin-right: 0.3em;
	cursor: pointer;
} 

.tasksTable {
	font-size: 1.2em;
	border-collapse: collapse;
	width: 50%;
	margin: 0 auto;
}

.tasksTable th, td{
	text-align: left;
	padding: 0.5em;
}

.tasksTable tr:nth-child(even) {
	background-color: #f2f2f2;
}