<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web1</display-name>
  <context-param>
    <param-name>userTypeDao</param-name>
    <param-value>DATABASE</param-value>
  </context-param>
  <context-param>
    <param-name>taskTypeDao</param-name>
    <param-value>DATABASE</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.users.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.users.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.users.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TasksController</display-name>
    <servlet-name>TasksController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.tasks.ShowTasksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TasksController</servlet-name>
    <url-pattern>/tasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskController</display-name>
    <servlet-name>AddTaskController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.tasks.AddTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskController</servlet-name>
    <url-pattern>/addTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationController</display-name>
    <servlet-name>OperationController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.tasks.OperationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationController</servlet-name>
    <url-pattern>/operations</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>by.gsu.epamlab.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/tasks</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/addTask</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/operations</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/uploadFile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/downloadFile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/deleteFile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/tasks.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/addTask.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SectionChooseFilter</display-name>
    <filter-name>SectionChooseFilter</filter-name>
    <filter-class>by.gsu.epamlab.filters.SectionChooseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SectionChooseFilter</filter-name>
    <url-pattern>/tasks</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileController</display-name>
    <servlet-name>UploadFileController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.file.UploadFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileController</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileController</display-name>
    <servlet-name>DownloadFileController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.file.DownloadFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileController</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileController</display-name>
    <servlet-name>DeleteFileController</servlet-name>
    <servlet-class>by.gsu.epamlab.controllers.file.DeleteFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileController</servlet-name>
    <url-pattern>/deleteFile</url-pattern>
  </servlet-mapping>
</web-app>